.login-btn {
  outline: none;
  color: white;
  width: 100%;
  padding: 9px 0;
  font-weight: 600;
  border-radius: 1px;
  cursor: pointer;
}

.true {
  background-color: #3968e8;
  border: 1px solid #3968e8;
}

.false {
  background-color: green;
  border: 1px solid green;
}
